body {
    background-color: dimgrey;
    color: #fff;
    font-family: 'Questrial', sans-serif;
}

.navbartext {
    font-weight: normal !important;
}

.footer {
    font-weight: lighter;
}

a {
    color: #31ff00;
    font-size: 16px;
}

    a:hover, a:focus {
        background-color: #08946c !important;
    }

body {
    background-image: url('../img/Homepage.jpg');
    -ms-background-size: cover;
    background-size: cover;
}

.body-content {
    background-color: dimgrey;
}
