body {
    background-color: dimgrey;
    color: #fff;
    font-family: 'Questrial', sans-serif;
}

a {
    color: #31ff00;
    font-size: 16px;
}

th {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

td {
    font-size: 16px !important;
}

.table-responsive {
    border: 0;
}

.checkboxHeaderStyle {
    margin-left: 200px !important;
}

.checkBoxStyle {
    margin-left: 225px;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
    margin-left: 5px;
}