@{
    ViewBag.Title = "Home Page";
}
<header>
    <link href="~/wwwroot/css/home.css" rel="stylesheet" />
</header>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="">Welcome to Gym Core!</h3>
                <p>Login to record your workouts. While the site is still being built please don't use any personally identifying information.</p>
                <br />
                <br />
                <br />
                <br />
                <p></p>
            </div>
        </div>
    </div>
</body>